@import './theme/shadcn.css';
@import './components/loading.css';

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-center-y {
  @apply flex flex-col items-center justify-center;
}

@utility prose {
  /* prose 自定义样式 */
  & a {
    @apply text-blue after:bg-blue relative inline-block no-underline transition after:absolute after:bottom-0 after:left-1/2 after:block after:h-px after:w-0 after:-translate-x-1/2 after:transition-all after:duration-300 hover:after:w-full;
  }
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  *::-webkit-scrollbar {
    display: block;
    width: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 0.5rem;
  }

  body {
    overscroll-behavior-y: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
